<% content_for :body_class, "imageSingle" %>

<p class="navbar-text">
  <%= link_to 'Back', pins_path %>
  <% if @pin.user == current_user %>
    <%= link_to 'Edit', edit_pin_path(@pin) %>
  <% end %>
</p>

<a href="<%= @pin.image.url %>"><%= image_tag @pin.image.url, :class => "fullImage fixedOffset" %></a>
