<%= image_tag("http://flagshipphoto.io/assets/logo-693e1341e3858ace0922bf748291d94baa90d173e1eb50c16fd416f27ba2b3e1.png", width: '175', height: '60', alt: 'Flagship Photo Logo') %>
<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
